//! **************************************************************************
// Written by: Map P.15xf on Thu Jan 22 20:43:31 2015
//! **************************************************************************

SCHEMATIC START;
COMP "led0" LOCATE = SITE "J14" LEVEL 1;
COMP "led1" LOCATE = SITE "J15" LEVEL 1;
COMP "sw0" LOCATE = SITE "G18" LEVEL 1;
COMP "sw1" LOCATE = SITE "H18" LEVEL 1;
SCHEMATIC END;

