#--------------------------------------------------------------------
#-- Name:	Dominic Celiano
#-- Date:	1/22/15
#-- Course:	ECE281
#-- File:	ECE281_CPX2.ucf
#-- HW: CPX 2
#--
#-- Purp:	Constraints file to map inputs and outputs to FPGA.
#--
#-- Documentation:	None
#--
#-- Academic Integrity Statement: I certify that, while others may have 
#-- assisted me in brain storming, debugging and validating this program, 
#-- the program itself is my own work. I understand that submitting code 
#-- which is the work of other individuals is a violation of the honor   
#-- code.  I also understand that if I knowingly give my original work to 
#-- another individual is also a violation of the honor code. 
#------------------------------------------------------------------------- 

# Leds
NET "led0"  LOC = "J14";
NET "led1"  LOC = "J15";

# Switches
NET "sw0" LOC = "G18";
NET "sw1" LOC = "H18";
