#--------------------------------------------------------------------
#-- Name:	Dominic Celiano
#-- Date:	3/17/15
#-- Course:	ECE281
#-- File:	ECE281 Lab 3 UCF
#-- HW:		Lab 3
#--
#-- Purp:	Connects the LEDs/switches  to the top level design.
#--
#-- Documentation:	None
#--
#-- Academic Integrity Statement: I certify that, while others may have 
#-- assisted me in brain storming, debugging and validating this program, 
#-- the program itself is my own work. I understand that submitting code 
#-- which is the work of other individuals is a violation of the honor   
#-- code.  I also understand that if I knowingly give my original work to 
#-- another individual is also a violation of the honor code. 
#------------------------------------------------------------------------- 

# Clock
NET "sw<0>" LOC = "B8";

# Leds
NET "Led<0>"  LOC = "J14"; #left LED
NET "Led<1>"  LOC = "J15";
NET "Led<2>"  LOC = "K15";
NET "Led<3>"  LOC = "K14";
NET "Led<4>"  LOC = "E17";
NET "Led<5>"  LOC = "P15"; #right LED

# Switches
NET "sw<1>" LOC = "K18"; #left switch
NET "sw<2>" LOC = "H18";
NET "sw<3>" LOC = "G18"; #right switch
